<div class="swiper-container">
    <!-- Additional required wrapper -->
        <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="wrap">
          <h3 class="highlighted-subtitle">Week 0 Overview</h3>
          <h2 class="highlighted-title">Getting Started</h2>
          <p class="highlighted-byline">Before January 16</p> <span class="dividing-bar"></span>
          <ul class="lists two-col">
            <li><a href="/assets/data8-fa17-midterm-guide.pdf">Data 8 Midterm Guide (Please review 2nd page)</a></li>
            <li><a href="http://data8.org/datascience">Data 8's datascience Library</a></li>
            <li><a href="/assets/prereq.pdf">Math Prerequisites</a></li>
          </ul> <i class="fa fa-angle-right next animate-3 next-week-overview"></i> </div>
        </div>

      {% for org_hash in site.data.syllabus2.weeks %}
      {% assign week = org_hash%}

        <div class="swiper-slide">
          <div class="wrap">
          <h3 class="highlighted-subtitle">Week {{week.weekNum}}</h3>
          <h2 class="highlighted-title">{{week.weekName}}</h2>
          <p class="highlighted-byline">{{week.weekDuration}}</p> <span class="dividing-bar"></span>
          <ul class="lists two-col">
          {% for link in week.links%}
            <li><a href="{{link.url}}">{{link.name}}</a></li>
          {% endfor %}
          </ul> <i class="fa fa-angle-right next animate-3 next-week-overview"></i> </div>
        </div>
    {% endfor %}

</div>
</div>

<script>
    $(document).ready(function () {
    //initialize swiper when document ready  
    var mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
         pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
      direction: 'horizontal',
      loop: false,
      initialSlide: 10
    })        
  });
  </script>
