<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="refresh" content="0; URL=http://prob140.org/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="Probability of Data Science (listed as Stat 140 and commonly called “Prob140”) is an introductory course on probability, emphasizing the combined use of mathematics and programming to solve problems" />
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/basicModal.css">

  <!-- Icons -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}assets/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}assets/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}assets/favicon/apple-touch-icon.png">
  <link rel="manifest" href="{{ site.baseurl }}assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="{{ site.baseurl }}assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ site.baseurl }}assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <script src="{{ site.baseurl }}assets/js/jquery.min.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/swiper.min.css">
<script src="{{ site.baseurl }}assets/js/swiper.jquery.min.js"></script>
<script src="{{ site.baseurl }}assets/js/basicModal.min.js"></script>

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <script>
  </script>
</head>
